.main{
margin-right: 100px;
margin-left: 150px;
font-family: "Arial";
}

#searchbar {
font-size: 20px;
border-color: blue;
padding: 6px;
border-radius: 10px;
}

.search-container input[type=text] {
  position: relative;
  margin-left: 20px;
  margin-bottom: 30px;
  border-radius: 10px;
padding: 6px;
border: #ffdd62;
border-style: ridge;
font-size: 17px;
width: 85%;
}
.search-container button[type=submit] {

display: inline-block;
background-color: #ffffff;
border-color: #ffffff;
border-radius: 10px;
}
.logo {
margin-top: 50px;
margin-bottom: 50px;
}
.tab {
overflow: hidden;
}
.tab button {
background-color: #fdffba;
margin-left: 18px;
float: left;
border: #ffec9b;
border-style: ridge;
border-radius: 10px;
cursor: pointer;
padding: 14px 16px;
transition: 0.3s;
font-size: 17px;
}
.tab button:hover {
background-color: #a0ffff;
}
.tabcontent {
/*display: none;*/
padding: 6px 12px;
border: 1px solid #ccc;
border-top: none;
}
.tabcontent button{
background-color: #ffe3a3;
margin: 5px;
border: #ffec9b;
border-style: ridge;
border-radius: 10px;
cursor: pointer;
padding: 10px 12px;
transition: 0.3s;
font-size: 14px;
}
.tabcontent button:hover {
background-color: #a0ffff;
}
